altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
filelock
fsspec
gitpython
huggingface-hub
idna
jinja2
jsonschema
matplotlib
networkx
numpy
packaging
pandas
pillow
plotly
protobuf
pyarrow
pydeck
python-dateutil
python-decouple
pytz
pyyaml
regex
requests
safetensors
six
streamlit
streamlit-aggrid
sympy
tenacity
tokenizers
toml
tornado
tqdm
transformers
typing-extensions
tzdata
urllib3
watchdog
wheel

# Explicit additions
torch
youtube_transcript_api
nltk
